.header {
  display: flex;
  height: 4rem;
  padding: 0.8em 1em;
  background: white;
  border-bottom: 1px solid #e5e5e5;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.title {
  margin-left: 0.3em;
  color: black;
}

.input {
  flex-basis: 50%;
  margin-left: 60px;
  font-size: 1.2rem;
  outline: 0;
  border: 1px solid #e5e5e5;
}

.button {
  border: 1px solid #e5e5e5;
  outline: 0;
}

.buttonImg {
  height: 100%;
  padding: 0.5em 0.2em;
}
